<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      var count = 0;
      $(document).ready(function () {
        $("button").click(function () {
          count += 1;
          $("h1").html(count);
        });
      });
    </script>
  </head>
  <body>
    <h1>0</h1>
    <form action="" method="post">
      {% csrf_token %}
      <label for="input"> Type something: </label>
      <input name="input" type="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
